USE [master]
GO
/****** Object:  Database [fashionstore]    Script Date: 02/11/2025 9:56:23 PM ******/
CREATE DATABASE [fashionstore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fashionstore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\fashionstore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fashionstore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\fashionstore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fashionstore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fashionstore]
GO
/****** Object:  Table [dbo].[Invoince]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoince](
	[invoinceId] [uniqueidentifier] NOT NULL,
	[memberId] [uniqueidentifier] NOT NULL,
	[totalMoney] [int] NULL,
	[paymentMethod] [nvarchar](50) NULL,
	[paymentStatus] [nvarchar](20) NULL,
	[transactionId] [nvarchar](50) NULL,
	[note] [nvarchar](max) NULL,
	[meta] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[dateCreate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDoanhThuTheoNgay]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDoanhThuTheoNgay] AS
SELECT ISNULL(CONVERT(VARCHAR(10), dateCreate, 103),-1) AS dateCreate, sum(totalMoney) AS income
FROM dbo.Invoince hd 
GROUP BY CONVERT(VARCHAR(10), dateCreate, 103)
GO
/****** Object:  View [dbo].[vHoaDonTrongNgay]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vHoaDonTrongNgay] AS
select *
from dbo.Invoince
where DATEPART(day,dateCreate) = DATEPART(day,getdate())
GO
/****** Object:  Table [dbo].[Article]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[articleId] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](250) NULL,
	[description] [nvarchar](2000) NULL,
	[image] [nvarchar](2000) NULL,
	[content] [nvarchar](max) NULL,
	[memberId] [uniqueidentifier] NOT NULL,
	[meta] [nvarchar](500) NULL,
	[status] [bit] NULL,
	[dateCreate] [smalldatetime] NULL,
 CONSTRAINT [PK__Article__75D3D37E1E54D497] PRIMARY KEY CLUSTERED 
(
	[articleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[contactId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](250) NULL,
	[email] [varchar](50) NULL,
	[message] [nvarchar](2000) NULL,
	[meta] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[dateContact] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[contactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoinceDetail]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoinceDetail](
	[invoinceId] [uniqueidentifier] NOT NULL,
	[productId] [uniqueidentifier] NOT NULL,
	[size] [varchar](10) NULL,
	[quanlity] [int] NULL,
	[price] [int] NULL,
	[discount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoinceId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[memberId] [uniqueidentifier] NOT NULL,
	[phone] [varchar](20) NULL,
	[password] [varchar](50) NULL,
	[firstName] [nvarchar](250) NULL,
	[lastName] [nvarchar](250) NULL,
	[email] [varchar](50) NULL,
	[birthday] [date] NULL,
	[address] [nvarchar](250) NULL,
	[avatar] [nvarchar](2000) NULL,
	[roleId] [uniqueidentifier] NOT NULL,
	[meta] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[dateCreate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[menuId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NULL,
	[meta] [varchar](255) NULL,
	[status] [bit] NULL,
	[order] [int] NULL,
	[dateCreate] [smalldatetime] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[menuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [uniqueidentifier] NOT NULL,
	[productName] [nvarchar](250) NULL,
	[image] [varchar](2000) NULL,
	[price] [int] NULL,
	[discount] [int] NULL,
	[characteristic] [nvarchar](200) NULL,
	[description] [nvarchar](2000) NULL,
	[quanlity] [int] NULL,
	[brand] [nvarchar](250) NULL,
	[categoryId] [uniqueidentifier] NOT NULL,
	[memberId] [uniqueidentifier] NOT NULL,
	[meta] [nvarchar](250) NULL,
	[status] [bit] NULL,
	[dateCreate] [smalldatetime] NULL,
 CONSTRAINT [PK__Product__2D10D16ACF41DC17] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[categoryId] [uniqueidentifier] NOT NULL,
	[categoryName] [nvarchar](250) NULL,
	[meta] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[order] [int] NULL,
	[dateCreate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [uniqueidentifier] NOT NULL,
	[roleName] [nvarchar](50) NULL,
	[meta] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[dateCreate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 02/11/2025 9:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[slideId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](250) NULL,
	[url] [varchar](50) NULL,
	[meta] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[order] [int] NULL,
	[dateCreate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[slideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Invoince] ([invoinceId], [memberId], [totalMoney], [paymentMethod], [paymentStatus], [transactionId], [note], [meta], [status], [dateCreate]) VALUES (N'830509ce-dd05-4c67-93b5-4d55d2dcdade', N'6c49ebaf-d3be-4965-b025-a81a6a244298', 470400, N'vnpay', N'paid', N'14873286', NULL, NULL, N'completed', CAST(N'2025-03-25T16:57:00' AS SmallDateTime))
INSERT [dbo].[Invoince] ([invoinceId], [memberId], [totalMoney], [paymentMethod], [paymentStatus], [transactionId], [note], [meta], [status], [dateCreate]) VALUES (N'7c2e06f2-fe39-490b-9538-74c017862faf', N'6c49ebaf-d3be-4965-b025-a81a6a244298', 63700, N'cash', N'failed', NULL, NULL, NULL, N'pending', CAST(N'2025-10-08T01:59:00' AS SmallDateTime))
INSERT [dbo].[Invoince] ([invoinceId], [memberId], [totalMoney], [paymentMethod], [paymentStatus], [transactionId], [note], [meta], [status], [dateCreate]) VALUES (N'222430a8-21ea-4b31-a8f3-833a2ac2be4f', N'6c49ebaf-d3be-4965-b025-a81a6a244298', 695800, N'vnpay', N'paid', N'14900773', NULL, NULL, N'confirmed', CAST(N'2025-03-22T19:33:00' AS SmallDateTime))
GO
INSERT [dbo].[InvoinceDetail] ([invoinceId], [productId], [size], [quanlity], [price], [discount]) VALUES (N'830509ce-dd05-4c67-93b5-4d55d2dcdade', N'f5d113ac-606a-42f4-a9d1-36b970dc5b59', NULL, 1, 470400, 9600)
INSERT [dbo].[InvoinceDetail] ([invoinceId], [productId], [size], [quanlity], [price], [discount]) VALUES (N'7c2e06f2-fe39-490b-9538-74c017862faf', N'53ea81e7-4ffb-43ba-b075-42184d9645fc', NULL, 1, 63700, 1300)
INSERT [dbo].[InvoinceDetail] ([invoinceId], [productId], [size], [quanlity], [price], [discount]) VALUES (N'222430a8-21ea-4b31-a8f3-833a2ac2be4f', N'53ea81e7-4ffb-43ba-b075-42184d9645fc', NULL, 2, 63700, 2600)
GO
INSERT [dbo].[Member] ([memberId], [phone], [password], [firstName], [lastName], [email], [birthday], [address], [avatar], [roleId], [meta], [status], [dateCreate]) VALUES (N'34f9628a-8022-42a6-9980-316b326b2a34', N'0338650637', N'e10adc3949ba59abbe56e057f20f883e', N'Nguyễn', N'Toàn', N'nguyentoan@gmail.com', NULL, NULL, N'/Content/img/avatar/avatar.png', N'54ed1855-5103-4121-811c-3997ce4c2241', NULL, 1, CAST(N'2025-10-10T21:47:00' AS SmallDateTime))
INSERT [dbo].[Member] ([memberId], [phone], [password], [firstName], [lastName], [email], [birthday], [address], [avatar], [roleId], [meta], [status], [dateCreate]) VALUES (N'6c49ebaf-d3be-4965-b025-a81a6a244298', N'0338650639', N'e10adc3949ba59abbe56e057f20f883e', N'Hoàng Huy', N'Lê', N'hoanghuyle@gmail.com', CAST(N'2002-04-25' AS Date), N'779 QL50, Bình Chánh, TPHCM', N'/Content/img/avatar/244378234_2621616374649091_7842324519169438481_n.jpg', N'54ed1855-5103-4121-811c-3997ce4c2241', NULL, 1, CAST(N'2024-02-18T14:04:00' AS SmallDateTime))
INSERT [dbo].[Member] ([memberId], [phone], [password], [firstName], [lastName], [email], [birthday], [address], [avatar], [roleId], [meta], [status], [dateCreate]) VALUES (N'fe50d6de-ad78-416f-9521-ce1b40cb0e1c', N'0338650638', N'5a62940e5f3f7dea0f3d803e475e4008', N'Helen', N'Đoàn', N'helendoan@gmail.com', CAST(N'2000-12-08' AS Date), N'thành phố Quy Nhơn, tỉnh Bình Định', N'/Content/img/avatar/Pikachu.png', N'b69f924e-629c-4b58-b051-9634f4a12604', NULL, 1, CAST(N'2024-02-18T14:04:00' AS SmallDateTime))
GO
INSERT [dbo].[Menu] ([menuId], [name], [meta], [status], [order], [dateCreate]) VALUES (N'f224882c-fdd3-458b-8cd2-5f353ccf6f0a', N'Sản phẩm', N'san-pham', 1, 2, CAST(N'2024-10-13T14:11:00' AS SmallDateTime))
INSERT [dbo].[Menu] ([menuId], [name], [meta], [status], [order], [dateCreate]) VALUES (N'5be8cb03-6153-49c7-af2a-6b79072c9b7e', N'Trang chủ', N'trang-chu', 1, 1, CAST(N'2025-04-10T10:31:00' AS SmallDateTime))
INSERT [dbo].[Menu] ([menuId], [name], [meta], [status], [order], [dateCreate]) VALUES (N'28df2823-e8b0-4f9a-82f9-a70ed26bbcad', N'Tin tức', N'bai-viet', 1, 3, CAST(N'2024-10-13T14:13:00' AS SmallDateTime))
GO
INSERT [dbo].[Product] ([productId], [productName], [image], [price], [discount], [characteristic], [description], [quanlity], [brand], [categoryId], [memberId], [meta], [status], [dateCreate]) VALUES (N'cb9d7f8e-ca79-4dbf-8b5c-05732ef286da', N'Giày Crazy In Creation Ver.1 Da Suede', N'/Content/img/product/832933804_01.jpg
', 720000, 2, N'Form: Shoes, Chất liệu: Canvas, Thiết kế: Phối màu', N'', 10, NULL, N'854866c9-7d04-4938-ae03-e9fb56730606', N'e4d33c53-b8a3-4f82-9ff3-e611912631fe', N'Giay-Crazy-In-Creation-Ver-1-Da-Suedel', 1, CAST(N'2025-04-10T09:07:00' AS SmallDateTime))
INSERT [dbo].[Product] ([productId], [productName], [image], [price], [discount], [characteristic], [description], [quanlity], [brand], [categoryId], [memberId], [meta], [status], [dateCreate]) VALUES (N'6f1a146b-995d-4e8c-a609-22839cd38990', N'Áo Thun Tay Ngắn Phối Dây Rút Form Loose', N'/Content/img/product/1292939815_01.jpg
', 429000, 2, N'Form: Loose, Thiết kế: Họa tiết thêu, Kiểu tay: Tay ngắn', NULL, 0, NULL, N'502ad263-3340-4613-b7b1-92b7428395fc', N'e4d33c53-b8a3-4f82-9ff3-e611912631fe', N'Ao-Thun-Tay-Ngan-Phoi-Day-Rut-Form-Loose', 1, CAST(N'2024-02-18T14:04:00' AS SmallDateTime))
GO
INSERT [dbo].[ProductCategory] ([categoryId], [categoryName], [meta], [status], [order], [dateCreate]) VALUES (N'dcf1c535-f05f-45cd-9489-06576a4933d3', N'Áo Hoodie', N'ao-hoodie', 1, 6, CAST(N'2025-10-18T18:09:00' AS SmallDateTime))
INSERT [dbo].[ProductCategory] ([categoryId], [categoryName], [meta], [status], [order], [dateCreate]) VALUES (N'2aa717ac-f048-4b93-9507-188d0f84138d', N'Áo Polo', N'ao-polo', 1, 2, CAST(N'2025-10-29T16:09:00' AS SmallDateTime))
INSERT [dbo].[ProductCategory] ([categoryId], [categoryName], [meta], [status], [order], [dateCreate]) VALUES (N'47eb74cf-5eb1-4f67-88dd-1b1e3161372f', N'Áo Tank Top', N'ao-tank-top', 1, 1, CAST(N'2024-02-18T14:04:00' AS SmallDateTime))
GO
INSERT [dbo].[Role] ([roleId], [roleName], [meta], [status], [dateCreate]) VALUES (N'54ed1855-5103-4121-811c-3997ce4c2241', N'Customer Member', N'CustomerMember', 1, CAST(N'2024-02-18T14:04:00' AS SmallDateTime))
INSERT [dbo].[Role] ([roleId], [roleName], [meta], [status], [dateCreate]) VALUES (N'b69f924e-629c-4b58-b051-9634f4a12604', N'Employee', N'Employee', 1, CAST(N'2024-02-18T14:04:00' AS SmallDateTime))
INSERT [dbo].[Role] ([roleId], [roleName], [meta], [status], [dateCreate]) VALUES (N'bcfce6d7-bc21-498a-95d4-b138332de823', N'Customer', N'Customer', 1, CAST(N'2024-02-18T14:04:00' AS SmallDateTime))
GO
ALTER TABLE [dbo].[Article] ADD  DEFAULT (newid()) FOR [articleId]
GO
ALTER TABLE [dbo].[Article] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (newid()) FOR [contactId]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [dateContact]
GO
ALTER TABLE [dbo].[Invoince] ADD  DEFAULT (newid()) FOR [invoinceId]
GO
ALTER TABLE [dbo].[Invoince] ADD  DEFAULT ('PENDING') FOR [paymentStatus]
GO
ALTER TABLE [dbo].[Invoince] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Invoince] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [dateCreate]
GO
ALTER TABLE [dbo].[InvoinceDetail] ADD  DEFAULT ((0)) FOR [quanlity]
GO
ALTER TABLE [dbo].[InvoinceDetail] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[InvoinceDetail] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (newid()) FOR [memberId]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (N'~/Content/img/avatar.png') FOR [avatar]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT (newid()) FOR [menuId]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (newid()) FOR [productId]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__price__3F466844]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__discoun__403A8C7D]  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__quanlit__412EB0B6]  DEFAULT ((0)) FOR [quanlity]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__brand__4222D4EF]  DEFAULT ('No brand') FOR [brand]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [dateCreate]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  DEFAULT (newid()) FOR [categoryId]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (newid()) FOR [roleId]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT (newid()) FOR [slideId]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_ARTICLE_MEMBER] FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_ARTICLE_MEMBER]
GO
ALTER TABLE [dbo].[Invoince]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCE_MEMBER] FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[Invoince] CHECK CONSTRAINT [FK_INVOINCE_MEMBER]
GO
ALTER TABLE [dbo].[InvoinceDetail]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCEDETAIL_INVOINCE] FOREIGN KEY([invoinceId])
REFERENCES [dbo].[Invoince] ([invoinceId])
GO
ALTER TABLE [dbo].[InvoinceDetail] CHECK CONSTRAINT [FK_INVOINCEDETAIL_INVOINCE]
GO
ALTER TABLE [dbo].[InvoinceDetail]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCEDETAIL_PRODUCT] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[InvoinceDetail] CHECK CONSTRAINT [FK_INVOINCEDETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_ROLE] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_MEMBER_ROLE]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([categoryId])
REFERENCES [dbo].[ProductCategory] ([categoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_MEMBER] FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_MEMBER]
GO
USE [master]
GO
