@using ShopOnline.Models
@model List<Article>
<div class="row">
    @foreach (var i in Model)
    {
    <div class="col-lg-4 col-md-6 col-sm-6">
        @Html.Partial("_BlogItem", i)
    </div>
    }
</div>
