@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}

<div class="container info spad">
    <div class="signinBx">
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @id = "form-1", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <h2>@ViewBag.Title</h2>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })           
            <div class="form-group">
                <input type="password" id="current-password" name="CurPassword" placeholder="Mật khẩu hiện tại" />
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <input type="password" id="new-password" name="NewPassword" placeholder="Mật khẩu mới" />
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <input type="password" id="password_confirmation" name="Confirm" placeholder="Nhập lại mật khẩu" />
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn site-btn w-100">Thay đổi</button>
            </div>
        }
    </div>
</div>

<script>
    var obj = document.querySelector(".navbar li:nth-child(1)");
    obj.classList.remove("active");
</script>
<script src="~/Content/js/validator.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#current-password'),
            Validator.minLength('#new-password', 6),
            Validator.isConfirmed('#password_confirmation', function () {
                return document.querySelector('#form-1 #new-password').value;
            }, 'Mật khẩu không khớp.')
        ],
    });
</script>

