@using ShopOnline.Models
@model List<Product>
<div class="row product__filter">
    @foreach (var i in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
            @Html.Partial("_ProductItem", i)
        </div>
    }
</div>
