@using System.Web.Optimization;
<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Areas/Admin/Content/assets/images/favicon.png">
    <title>Login</title>

    <!-- Custom CSS -->
    @Styles.Render("~/bundles/admin/login/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/js/toast-message.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LcwOrIqAAAAABgzNqIKLwBNnL9oNXltz63sLozY"></script>
</head>

<body>
    <div id="alert-toast"></div>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="auth-wrapper">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img"></div>
                <div class="col-lg-5 col-md-7 form-login">
                    <div class="p-3">
                        <div class="text-center">
                            <img src=@Url.Content("/Areas/Admin/Content/assets/images/logo-icon.png") alt="wrapkit">
                        </div>
                        <h2 class="mt-3">SIGN IN</h2>
                        <p class="text-center">Enter your username and password to access admin panel.</p>
                        @using (Html.BeginForm("Login", "LoginMember", FormMethod.Post, new { @id = "form-1", @class = "form mt-4" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="username">Username</label>
                                        <input type="text" id="username" name="username" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="password">Password</label>
                                        <input type="password" id="password" name="password" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div class="form-group">
                                        <input type="hidden" id="recaptchaToken" name="recaptchaToken" />
                                        <button class="g-recaptcha btn btn-block btn-info" type="submit">
                                            Sign In
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/admin/login/js")
    <script>
        $(".preloader ").fadeOut();
    </script>
    <script src="~/Content/js/validator.js"></script>
    <script>
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#username', 'Enter your username'),
                Validator.isRequired('#password', 'Enter your password'),
            ],
            onSubmit: function (formData) {
                // formData là object chứa dữ liệu hợp lệ
                var form = $("#form-1"); // jQuery object

                grecaptcha.ready(function () {
                    grecaptcha.execute('6LcwOrIqAAAAABgzNqIKLwBNnL9oNXltz63sLozY', { action: 'Login' })
                        .then(function (token) {
                            formData.recaptchaToken = token;

                            $.ajax({
                                url: form.attr("action"),
                                type: form.attr("method"),
                                data: formData,
                                success: function (res) {
                                    if (res.success) {
                                        showToast({
                                            type: "success",
                                            message: res.msg,
                                            language: "en"
                                        });
                                    } else {
                                        showToast({
                                            type: "danger",
                                            message: res.msg,
                                            language: "en"
                                        });
                                    }
                                    if (res.redirectUrl) {
                                        setTimeout(function () {
                                            window.location.href = res.redirectUrl;
                                        }, 200); // delay 200ms để toast xuất hiện
                                    }
                                }
                            });
                        });
                });
            }
        });
    </script>
</body>

</html>
