@model ShopOnline.Models.Article
@{
    ViewBag.Title = "Blog";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBoard.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Create blog</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="~/Admin/CRUDblog/Index" class="text-muted">Blog manage</a></li>
                        <li class="breadcrumb-item text-muted active" aria-current="page">Create</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-5 align-self-center">
            <div class="customize-input float-right">
                <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                    <option selected>Aug 19</option>
                    <option value="1">July 19</option>
                    <option value="2">Jun 19</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Create blog</h3>
                    @if (TempData["msgCreatefailed"] != null)
                    {
                        <script>
                            showToast({
                                type: "danger",
                                message: "@TempData["msgCreatefailed"].ToString().Replace("\"", "\\\"")"
                            });
                        </script>
                    }
                    @using (Html.BeginForm("Create", "CRUDblog", FormMethod.Post, new { @id = "form-1", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" name="title" id="title" />
                                        <span class="form-message"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="meta">Meta</label>
                                        <input type="text" class="form-control" name="meta" id="meta" />
                                        <span class="form-message"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <input type="text" class="form-control" name="description" id="description" />
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="image">Image</label>
                                        <img id="file-ip-1-preview" style="max-height: 163px; max-width: 342px; display: block; margin-bottom: 10px" />
                                        <input type="file" name="uploadFile" class="form-control-file" id="image" onchange="showPreview(event);" />
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="content">Content</label>
                                        <textarea name="content" class="form-control textareaTinym" id="content"></textarea>
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="text-right">
                                <button type="submit" class="btn btn-info">Save changes</button>
                                <button type="reset" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/validator.js"></script>
<script src="~/Areas/Admin/Content/js/helper.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#title'),
            Validator.isRequired('#image'),
        ],
    });

    document.addEventListener('DOMContentLoaded', function () {
        var titleInput = document.getElementById('title');
        var metaInput = document.getElementById('meta');

        titleInput.addEventListener('input', function () {
            metaInput.value = cleanText(titleInput.value);
        });
    });

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
        }
    }
</script>
