@using ShopOnline.Models
@model List<ProductCategory>
@{
    string currentMeta = ViewContext.RouteData.Values["meta"] as string;
    string currentPrice = Request.QueryString["price"];
}

<a class="dropdown-item" href="@Url.Action("Shop", "Shop", new { meta ="", price=currentPrice })">Tất cả sản phẩm</a>
@foreach (var i in Model)
{
    <a class="dropdown-item @(i.meta == currentMeta ? "active" : "")" href="@Url.Action("Shop", "Shop", new { meta = i.meta, price=currentPrice })">@i.categoryName</a>
}
