@using ShopOnline.Models
@model List<Product>

<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Sản phẩm liên quan</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var i in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                    @Html.Partial("_ProductItem", i)
                </div>
            }
        </div>
    </div>
</section>
