@model ShopOnline.Models.Product

@using (Html.BeginForm("Create", "CRUDproduct", FormMethod.Post, new { @id = "form-1", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "form-message" })

    <div class="form-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="productName">Product name</label>
                    <input type="text" class="form-control" name="productName" id="productName" />
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="meta">Meta</label>
                    <input type="text" class="form-control" name="meta" id="meta" />
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="characteristic">Characteristic</label>
                    <input type="text" class="form-control" name="characteristic" id="characteristic" />
                    <span class="form-message"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Category</label>
                            @Html.DropDownList("categoryId", null, htmlAttributes: new { @class = "form-control" })
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="quanlity">Quality</label>
                            <input type="number" class="form-control" name="quanlity" id="quanlity" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" name="price" id="price" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="discount">Discount</label>
                            <input type="number" class="form-control" name="discount" id="discount" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="image">Image</label>
                    <img id="imagePreview" style="max-height: 300px; width: auto; display: block; margin-bottom: 10px;" />
                    <input type="file" name="uploadFile" class="form-control-file" id="image" accept="image/jpeg, image/png" />
                    <span class="form-message"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control textareaTinym" id="description"></textarea>
                    <span class="form-message"></span>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Content/js/validator.js"></script>
<script src="~/Areas/Admin/Content/js/helper.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#productName'),
            Validator.isRequired('#meta'),
            Validator.isRequired('#quanlity'),
            Validator.isRequired('#price'),
            Validator.isRequired('#discount'),
            Validator.isRequired('#image'),
        ],
    });

    $(document).on('input', '#productName', function () {
        const productName = $(this);
        const meta = $('#meta');

        if (meta.length) {
            meta.val(cleanText(productName.val()));

            // Kích hoạt lại sự kiện input để Validator bắt được thay đổi
            meta.trigger('input');
        }
    });

    $("#image").on("change", function () {
        const file = this.files[0];
        if (file) {
            let reader = new FileReader();
            reader.onload = function (e) {
                $("#imagePreview").attr("src", e.target.result).addClass("img-thumbnail");
            };
            reader.readAsDataURL(file);
        }
    });

    $("#form-1").on("reset", function () {
        $("#imagePreview").attr("src", "@Url.Content("~/Content/img/avatar/avatar.png")").removeClass("img-thumbnail");
    });
</script>