<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- Razor configuration section -->
		<sectionGroup name="system.web.webPages.razor"
					  type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host"
					 type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
					 requirePermission="false" />
			<section name="pages"
					 type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
					 requirePermission="false" />
		</sectionGroup>
	</configSections>

	<system.web.webPages.razor>
		<!-- MVC configuration for Razor views -->
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="ShopOnline" />
				<!-- Add your project namespaces -->
				<add namespace="PagedList.Mvc" />
				<!-- Add PagedList.Mvc namespace if using paged lists -->
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<appSettings>
		<!-- Disable WebPages if not using them -->
		<add key="webpages:Enabled" value="false" />
	</appSettings>

	<system.webServer>
		<handlers>
			<!-- Block direct access to view files (e.g., .cshtml files) -->
			<remove name="BlockViewHandler" />
			<add name="BlockViewHandler"
				 path="*"
				 verb="*"
				 preCondition="integratedMode"
				 type="System.Web.HttpNotFoundHandler" />
		</handlers>
	</system.webServer>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<!-- Reference ASP.NET MVC and other essential assemblies -->
				<add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<httpRuntime targetFramework="4.7.2" />
	</system.web>

</configuration>
