@model ShopOnline.Models.ProductCategory

@using (Html.BeginForm("Edit", "CRUDcategory", FormMethod.Post, new { @id = "form-1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "form-message" })

    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.categoryId)
                <div class="form-group">
                    <label for="categoryName">Category name</label>
                    @Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control", @id = "categoryName", @placeholder = "T-Shirt" } })
                    <span class="form-message"></span>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Content/js/validator.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#categoryName'),
        ],
    });
</script>
