@model ShopOnline.Models.Member

@using (Html.BeginForm("Create", "CRUDmember", FormMethod.Post, new { @id = "form-1", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "form-message" })

    <div class="form-body">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">FirstName</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">LastName</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" name="phone" id="phone" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="birthday">Birthday</label>
                            <input type="date" class="form-control" name="birthday" id="birthday" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" name="address" id="address" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="image">Image</label>
                    <div class="d-flex justify-content-center">
                        <img id="imagePreview" src="~/Content/img/avatar/avatar.png" style="height: 240px; width: 240px; object-fit: cover; border-radius: 50%; margin-bottom: 10px; " />
                    </div>
                    <input type="file" name="uploadFile" class="form-control-file" id="image" accept="image/jpeg, image/png" />
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="productName">Role</label>
                    @Html.DropDownList("roleId", null, htmlAttributes: new { @class = "form-control" })
                    <span class="form-message"></span>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Content/js/validator.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isEmail('#email'),
            Validator.isRequired('#firstName'),
            Validator.isRequired('#lastName'),
            Validator.isRequired('#phone'),
            Validator.isDate('#birthday')
        ],
    });

    $("#image").on("change", function () {
        const file = this.files[0];
        if (file) {
            let reader = new FileReader();
            reader.onload = function (e) {
                $("#imagePreview").attr("src", e.target.result).addClass("img-thumbnail");
            };
            reader.readAsDataURL(file);
        }
    });

    $("#form-1").on("reset", function () {
        $("#imagePreview").attr("src", "@Url.Content("~/Content/img/avatar/avatar.png")").removeClass("img-thumbnail");
    });
</script>

